.btn {
	padding: 0.12rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 0.18rem;
	font-weight: 700;
	border-radius: 0.1rem;
	text-transform: uppercase;
	span {
		z-index: 10;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: 0.1rem;
		transition:
			box-shadow,
			opacity 0.35s linear;
	}
	&__outline {
		&::before,
		&::after {
			border: 2px solid var(--white);
			background: var(--white);
			opacity: 0;
		}
		&::after {
			border: 2px solid var(--black);
			opacity: 1;
			background: transparent;
		}

		&:hover {
			&::before {
				opacity: 1;
				box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
			}
			&::after {
				opacity: 0;
			}
		}
	}
	&__black {
		color: var(--white);
		&::before,
		&::after {
			background: linear-gradient(90deg, #101113 0%, #686868 44%, #101113 100%);
			opacity: 0;
		}
		&::after {
			opacity: 1;
			background: var(--black);
		}

		&:hover {
			&::before {
				opacity: 1;
				box-shadow: 0px 0.06rem 0.2rem 0px rgba(16, 17, 19, 0.1);
			}
			&::after {
				opacity: 0;
			}
		}
	}
	&__s {
		height: 0.48rem;
		font-size: 0.14rem;
		&_mobil {
			@media all and (max-width: 639.9px) {
				height: 0.4rem;
			}
		}
	}
	&__m {
		height: 0.64rem;
		font-size: 0.18rem;
	}
	&__sm-none {
		@media all and (max-width: 639.9px) {
			display: none;
		}
	}
}
.btn-nav {
	width: 0.5rem;
	height: 0.5rem;
	border: 0.03rem var(--black) solid;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.35s linear;
	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 4000 4000" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"><g id="Layer_x0020_1"><path fill="%23101113" fill-rule="nonzero" d="M2798.26 2091.44c46.86,-46.83 46.86,-122.85 0,-169.68l-763.68 -763.68c-46.86,-46.86 -122.85,-46.86 -169.71,0 -46.87,46.87 -46.87,122.82 0,169.69l678.83 678.83 -678.83 678.83c-46.87,46.87 -46.87,122.82 0,169.69 46.86,46.86 122.85,46.86 169.71,0l763.68 -763.68zm-1524.87 35.17l1440.02 0 0 -240.02 -1440.02 0 0 240.02z"/></g></svg>');
		background-size: contain;
		background-repeat: no-repeat;
		transition: background-image 0.35s linear;
		z-index: 10;
	}
	@media all and (min-width: 1024px) {
		&:hover {
			background: var(--black);
			&::before {
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 4000 4000" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"><g id="Layer_x0020_1"><path fill="white" fill-rule="nonzero" d="M2798.26 2091.44c46.86,-46.83 46.86,-122.85 0,-169.68l-763.68 -763.68c-46.86,-46.86 -122.85,-46.86 -169.71,0 -46.87,46.87 -46.87,122.82 0,169.69l678.83 678.83 -678.83 678.83c-46.87,46.87 -46.87,122.82 0,169.69 46.86,46.86 122.85,46.86 169.71,0l763.68 -763.68zm-1524.87 35.17l1440.02 0 0 -240.02 -1440.02 0 0 240.02z"/></g></svg>');
			}
		}
	}
}
