@use 'sass:math';
@import 'tailwind';
@import 'base';
@import 'fonts';
@import 'global';
@import 'helpers';
@import 'components';

.swiper-pagination-total {
	font-size: 0.18rem;
	font-weight: 600;
}
.text-row {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--soft-grey);
	font-size: 0.24rem;
	font-weight: 600;
	color: transparent;
	@media all and (min-width: 640px) {
		font-size: 0.4rem;
	}
	&_white {
		-webkit-text-stroke-color: var(--white);
	}
}
.text-clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	&_3 {
		-webkit-line-clamp: 3;
	}
	&_4 {
		-webkit-line-clamp: 4;
	}
}
.promo {
	width: 100vw;
	height: auto;
	background: url('@img/main-frame_bg.jpg') center center/cover no-repeat;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		background: url('@img/main-frame_decor.png') center center/cover no-repeat;
		width: 4.4rem;
		height: 3.9rem;
		right: -50%;
		bottom: 0.6rem;
		@media all and (min-width: 640px) {
			right: -0.1rem;
		}
		@media all and (min-width: 1024px) {
			right: -0.1rem;
			width: 6.4rem;
			height: 5.3rem;
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}
	}
	@media all and (min-width: 1024px) {
		height: 100vh;
	}
}
.bg-blur {
	position: relative;
	div {
		position: relative;
		z-index: 5;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(gem(5));
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		transform: translate(0) translate3d(0, 0, 0) translateZ(0);
	}
}
.box-shadow {
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}
.ukr-businesses {
	background: url('@img/main-frame_bg.jpg') center center/cover no-repeat;
}
.transit-filter {
	transition: filter 0.35s linear;
}
.members {
	.swiper-slide {
		min-height: 100% !important;
		height: auto;
	}
}
@media all and (min-width: 1024px) {
	.members {
		.member {
			background: var(--white);
			.member-img {
				transition: all 0.45s linear;
			}
		}

		.swiper-slide-prev {
			.member-img {
				opacity: 0.2 !important;
				transform: translateX(-6.35rem);
				width: 2.86rem;
				height: 2.86rem;
				display: block;
				transition: all 0.45s linear;
			}
		}

		.swiper-slide-active {
			.member {
				background: transparent !important;
			}
			.member-decoration {
				opacity: 1;
				transition: opacity 0.35s linear 0.35s;
			}

			.member-header {
				opacity: 1;
			}
			.member-description {
				opacity: 1;
				transition: opacity 0.35s linear 0.45s;
			}
			.member-img {
				opacity: 1;
				display: block;
			}
		}
	}
}
.checkbox-item {
	&.active {
		svg {
			fill: var(--black);
		}
	}
}
.swiper-button-disabled {
	opacity: 0.5;
	pointer-events: none;
}
@media all and (min-width: 1024px) {
	.icons-hover {
		&:hover {
			color: var(--grey);
			svg {
				fill: var(--grey);
			}
		}
	}
}
